{% extends 'blog/basetemplate.html' %}

    {% block content %}

                {% for post in posts %}
                     <div class="well well-lg well-bg">
                     <a href="{% url 'post_detail' pk=post.pk %}">
                        <h1>

                            {{ post.title }}

                        </h1>
                        <div class="post">
                        <p>Published: {{ post.published_date }}</p>
                        <p>By {{ post.author }}</p>

                        <p>
                            {{ post.headline|linebreaksbr }}
                        </p>
                        <p>
                        <a href="{% url 'post_detail' pk=post.pk %}">
                        Continue reading
                        </a>
                        </p>
                        </div>
                     </a>
                     <a href="{% url 'post_detail' pk=post.pk %}">Comments: {{ post.comments.count }}</a>
                     </div>

                {% endfor %}
    {% endblock %}